<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %>.   Let's test reading get+post data</p>

<br/><br/>
<b>New Customer Form </b> to test POST request and reading data using URI  /readNameAndRespond
<br/>
<form action="/readCustomerInfoAndRespond" method="post">

  Name: <input type="text" name="name"> </input>
  <br/>
  Email: <input type="text" name="email"> </input>
  <br/>
  <input type="submit" value="Go"/>
</form>

<br><br><br>
<hr>

<b>Form to test GET request</b> and reading the data using URI /readNameAndRespond
<br/>
<form action="/readNameAndRespond" method="get">

  Name: <input type="text" name="name"> </input>
  <br/>
  <input type="submit" value="Go"/>
</form>
<br><br><br>
<hr>
<b>Form to test POST request</b> and reading data using URI  /readNameAndRespond
<br/>
<form action="/readNameAndRespond" method="post">

  Name: <input type="text" name="name"> </input>
  <br/>
  <input type="submit" value="Go"/>
</form>



</body>
</html>
